body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-attachment: fixed;
  background-image: url("./sw-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100vw 100vh;
}
